.ui-button {
  height: 40px;
  max-width: 132px;
  width: 100%;
  background-color: #F5222D;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s;

  &:hover {
    background-color: darken($color: #F5222D, $amount: 10);
  }

  &:active{
    background-color: darken($color: #F5222D, $amount: 25);
  }
}
